:root { 
	/* Colors */
	--bg-color: #ffffff;
	--text-color: #1a102e;
	--primary-color: #40adb7; /* bleu par défaut*/

	/* Surfaces */
	--header-bg: rgba(255, 255, 255, 0.9);
	--overlay-color: rgba(64, 173, 183, 0.45);

	/* UI */
	--border-radius: 10px;
	--transition: 0.3s ease;
}

body.dark {
    --bg-color: #1a102e;
    --text-color: #ffffff;
    --header-bg: #1a102e;
}

body.theme-blue {
    --primary-color: #40adb7;
    --overlay-color: rgba(64, 173, 183, 0.45);
}

body.theme-green {
    --primary-color: #c4f454;
	--overlay-color: rgba(196, 244, 84, 0.35);
}

body.theme-purple {
    --primary-color: #7651c5;
	--overlay-color: rgba(118, 81, 197, 0.45);
}

body.theme-pink {
    --primary-color: #fa167d;
	--overlay-color: rgba(250, 22, 125, 0.40);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
	background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color var(--transition), color var(--transition), border-color var(--transition);
}
/* -------------- ACCESSIBILIY -------------- */
.skip-link {
    position: absolute;
    top: -45px;
    left: 10px;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 16px;
    z-index: 300;
}

.skip-link:focus {
    top: 10px;
}

/* -------------- HEADER -------------- */
header {
    background: var(--header-bg);
    backdrop-filter: blur(10px);
    transition: var(--transition);
	position: fixed;
    width: 100%;
	height: 80px;
    top: 0;
    z-index: 200;
    padding: 1em 3em;
	box-sizing: border-box;
	box-shadow: 0px 0px 15px 0px var( --primary-color);
	-webkit-box-shadow: 0px 0px 15px 0px var( --primary-color);
	-moz-box-shadow: 0px 0px 15px 0px var( --primary-color);
}


header #siteLogo {
	height: 100%;
    transition: opacity 0.3s ease;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
	color: var(--text-color);
}

.theme-controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-moon ,
.color-current {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-color);
}

/* Container */
.theme-picker {
	position: relative;
    display: flex;
}

/* Bouton couleur active */
.btn-moon,
.color-current,
.color-btn {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
	background-color: var(--primary-color);
}

/* Couleur active */
.color-current {
    background: var(--primary-color);
    transition: 0.3s ease;
}

/* Options cachées */
.theme-options {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 6px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(0);
    transition: 0.3s ease;
}

/* Ouvert */
.theme-picker.open .theme-options {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-22px);
}

/* Animation boutons */
.color-btn {
    transform: scale(0.5);
    transition: 0.3s ease;
}

.theme-picker.open .color-btn {
    transform: scale(1);
}

/* Couleurs */
.color-btn[data-theme="blue"] {
    background: #40adb7;
}

.color-btn[data-theme="green"] {
    background: #c4f454; /* Attention au contrast*/
}

.color-btn[data-theme="purple"] {
    background: #7651c5;
}

.color-btn[data-theme="pink"] {
    background: #fa167d;
}

/* -------------- HERO -------------- */
.hero {
    height: 100vh;
	background-color: inherit;
	background-image: url('../img/bg-city-light.jpg');
	background-position: center;
	background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--text-color);
}

.hero::before {

    content: "";
    position: absolute;
    inset: 0;
    background: var(--overlay-color);
    mix-blend-mode: multiply;
    z-index: 0;
}
body.dark .hero::before {
    opacity: 0.75;
}
.hero-content {
    position: relative;
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
}

.hero hr {
	margin: 15px auto;
	width: 50%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--primary-color), rgba(0, 0, 0, 0));
	/*border: 1px solid var(--primary-color);*/
}

a.btn-primary,
button.btn-primary{
    background: var(--primary-color);
    border: none;
}

/* -------------- SECTIONS -------------- */
.section {
    padding: 100px 0;
}

/* -------------- TABLE PRICES -------------- */

/* -------------- TIMELINE PARCOURS -------------- */
.timeline {
	position: relative;
	padding: 1rem;
	margin: 0 auto;
	max-width: 1300px;
}

.timeline:before {
	content: '';
	position: absolute;
	height: 100%;
	border: 1px solid var(--primary-color);
	right: 40px;
	top: 0;
}

.timeline:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (min-width: 700px) {
	.timeline {
		padding: 2rem;
	}
	.timeline:before {
		left: calc(50% - 1px);
		right: auto;
	}
}
	
.timeline__item {
	padding: 1rem;
	border: 2px solid var(--primary-color);
	border-image: linear-gradient(to right, var(--primary-color) 10%, var(--primary-color) 100%);
	border-image-slice: 1;
	position: relative;
	margin: 1rem 3rem 1rem 1rem;
	clear: both;
}

	.timeline__item:after, .timeline__item:before {
	content: '';
	position: absolute;
}

.timeline__item:before {
	right: -10px;
	top: calc(50% - 5px);
	border-style: solid;
	border-color: var(--primary-color) var(--primary-color) transparent transparent;
	border-width: 10px;
	transform: rotate(45deg);
}

@media screen and (min-width: 700px) {
	.timeline__item {
		width: 44%;
		margin: 1rem;
	}
	.timeline__item:nth-of-type(2n) {
		float: right;
		margin: 1rem;
		border-image: linear-gradient(to right, var(--primary-color) 0%, var(--primary-color) 100%);
		border-image-slice: 1;
	}
	.timeline__item:nth-of-type(2n):before {
		right: auto;
		left: -10px;
		border-color: transparent transparent #3cbab4 #a3faf6;
	}
}
	
.timeline__item--year {
	text-align: center;
	max-width: 150px;
	margin: 0 48px 0 auto;
	font-size: 1.8rem;
	background-color: var(--bg-color);
	color: var(--primary-color);
	line-height: 1;
	border-image: none;
	padding: 0.6rem 1rem 0.6rem 1rem;
}

.timeline__item--year:hover {
	color: #a3faf6;
	transition-duration: var(--transition);
}

.timeline__item--year:before {
	display: none;
}

@media screen and (min-width: 700px) {
	.timeline__item--year {
		text-align: center;
		margin: 0 auto;
	}
	.timeline__item--year:nth-of-type(2n) {
		float: none;
		margin: 0 auto;
		border-image: none;
	}
	.timeline__item--year:nth-of-type(2n):before {
		display: none;
	}
}
	
.timeline__title {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
}
	
.timeline__blurb {
	line-height: 1.5;
	font-size: 1rem;
	margin: .5rem 0 0;
}

/* -------------- CONTACT -------------- */

/* -------------- FOOTER -------------- */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer nav a{
	margin: 0 10px;
	text-decoration: none;
	color: var(--primary-color);
}

footer p{
	text-align: center;
	color: var(--text-color);
}